.small {
    font-size: 1.2em;
}

.medium {
    font-size: 1.4em;
}

.medium select {
    font-size: 18px;
}

.nav {
    display: inline-block;
    width: 300px;
    margin: 40px;
    vertical-align:top;
}

.right {
    display: inline-block;
}

.bottom {
    top: 400px;
}

.riding {
    background: #faa;
}

.sleeper, .green {
    background: #afa;
}

.car {
    background: #aaf;
}

.hq, .amber {
    background: #f4cd59;
}

.van {
    background: #f4f442;
}

.finished {
    background: #42f448;
}

.wide {
    min-width: 800px;
}