.small {
    font-size: 1.2em;
}

.medium {
    font-size: 1.4em;
}

.medium select {
    font-size: 18px;
}

.nav {
    float: left;
    max-width: 170px;
    margin: 0;
    padding: 1em;
}

.article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.right {
    float: right;
}

.riding {
    background: #faa;
}

.sleeper, .green {
    background: #afa;
}

.car {
    background: #aaf;
}

.hq {
    background: #f4cd59;
}

.van {
    background: #f4f442;
}

.finished {
    background: #42f448;
}

.wide {
    min-width: 800px;
}